body {
    color: black;
}

.container-content {
	margin: 20px;
	padding-top: 40px;
}

.bottom {
	vertical-align: bottom;
}

.subtitle {
	padding-left: 10px;
}

.page-breadcrumbs-panel {
	margin-top: 20px;
	padding-top: 5px;
	padding-bottom: 15px;
}

.page-breadcrumbs-panel .badge {
	margin-top: 10px;
}

.page-breadcrumbs-panel .glyphicon {
	top: 8px;
}

.breadcrumb-item {
	padding: 7px 10px; 
	cursor: pointer;
	line-height: normal;
	display: inline-block;
	margin-top: 10px;
}

.selected-crumb {
	font-weight: bold;
}

.page-content-section {
	margin-top: 15px;
	margin-bottom: 15px;
}

.page-count {
	float: right;
}

.page-panel div.page-title {
	float: left;
}

.page-panel div.page-title-icon {
	float: left;
	margin-left: 10px;
	cursor: pointer;
}

.page-panel div.remove-page {
	float: right;
	cursor: pointer;
}

.page-choices-section {
	margin-top: 15px;
	margin-left: 5px;
}

.page-choices-section > button {
	margin-top: 10px;
}

.story-title-section {
	padding: 3px;
}

.choice-column-header {
	font-weight: bold;
	padding-bottom: 12px;
}

.lua-code-box {
	margin: 0 auto;
    width: 80%;
}

.prefab-applicator .dropdown-menu .glyphicon {
	color: darkred;
}

.floating-label-form-group-with-value label {
	color: #ccc;
}

.floating-label-form-group-with-focus label {
	color: #33bbaa;
}

/* Remove the bottom and left side borders */
.floating-label-form-group:not(:first-child), .floating-label-form-group {
  border: none;
}