<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Story Builder</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-tasks"></span>&nbsp;&nbsp;Stories <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="/journal"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;New&nbsp;Story</a></li>
          <li class="divider"></li>
          <li ng-repeat="story in loadedStories">
            <a href="/journal/{{story._id.$oid}}" ng-click="">{{story.story}}</a>
          </li>
        </ul>
      </li>
      <li><a href="#" ng-click="saveMyStory()" ><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;&nbsp;Save</a></li>
      <li><a href="#" ng-click="generateLua()"><span class="glyphicon glyphicon-fire"></span>&nbsp;&nbsp;Has Codes</a></li>
      <li><a href="#" ng-click="playStory()"><span class="glyphicon glyphicon-play-circle"></span>&nbsp;&nbsp;Play</a></li>
      <li><a href="#" ng-click="deleteStory()"><span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;Delete</a></li>
    </ul>
    </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>