<!-- Include the navs -->
<div ng-include="'/editor_nav.html'"></div>

<div class="row container-content">
    <!-- STORY TITLE -->
    <div class="row story-title-section">
        <div class="col-md-5">
            <div class="input-group floating-label-form-group">
                <label for="storyTitle">Story Title</label>
                <input type="text" ng-model="storyTitle" class="form-control" placeholder="Story Title">
            </div>
        </div>
    </div>
    <!-- CREATE PAGE SECTION -->
    <div class="row add-page-section">
        <div class="col-md-5">
            <form ng-submit="addPage()">
                <div class="input-group">
                    <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="addPage()" type="button">Create Page</button>
                    </span>
                    <input type="text" ng-model="pageName" class="form-control" placeholder="just press enter">
                </div>
            </form>
        </div>
    </div>
    <!-- PAGE BREADCRUMB CONTAINER -->
    <div class="panel panel-default page-breadcrumbs-panel">
        <div class="container-fluid">
            <div class="row">
                <!-- Breadcrumb items -->
                <div class="col-md-10 col-sm-10">
                    <span ng-if="pages.length == 0">
                    Add some pages!
                    </span>
                    <span ng-repeat="page in pages" ng-click="onSelect(page)">
                    <!-- Group the label and the arrow into one unit so that they newline together -->
                    <button type="button" ng-class="breadcrumbClass(page)" class="btn breadcrumb-item">{{page.title}}</button>
                    <span ng-if="!$last" class="glyphicon glyphicon-leaf"></span>
                    </span>
                </div>
                <!-- Count! -->
                <div class="col-md-1 col-md-offset-1 col-sm-1 col-sm-offset-1">
                    <span class="pull-right">
                    <!--Pages:-->
                    <span class="badge">{{pages.length}}</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!-- CURRENTLY SELECTED PAGE -->
    <div ng-hide="!!!selectedPage" class="panel panel-primary page-panel ng-hide">
        <!-- HEADER -->
        <div class="panel-heading">
            <span ng-show="editable === 'name'">
            <form ng-submit="editable = ''">
                <div class="input-group">
                    <input id="pageTitle" type="text" ng-model="selectedPage.title" ng-blur="editable = ''" class="form-control input-sm">
                </div>
            </form>
            </span>
            <span ng-show="editable !== 'name'">
            <div class="panel-title page-title">{{selectedPage.title}}</div>
            <div class="page-title-icon">
                <span ng-click="editPageTitle()" class="glyphicon glyphicon-pencil"></span>
            </div>
            <div ng-hide="!isRemovable()" class="ng-hide remove-page">
                <span ng-click="removePage()" class="glyphicon glyphicon-remove-sign"></span>
            </div>
            <div style="clear: both"></div>
            </span>
        </div>
        <!-- CONTENT -->
        <div class="panel-body">
            <div ng-include="'/tpl_page_details.html'"></div>
        </div>
    </div>
    <!-- <pre>{{selectedPage | json}}</pre -->
    <!-- <pre>{{pages | json}}</pre> -->
    <!-- For handling hotkeys... -->
    <shortcut></shortcut>
</div>