<!-- Tabs for the main story page -->
<ul class="nav nav-tabs" role="tablist" ng-show="selectedPage.isRoot">
    <li ng-class="editSectionTabClass(0)" ng-click="editHero()"><a href="javascript:void(0);" role="tab" data-toggle="tab">Normal</a></li>
    <li ng-class="editSectionTabClass(1)" ng-click="editAdvanced()"><a href="javascript:void(0);" role="tab" data-toggle="tab">Advanced</a></li>
    <li ng-class="editSectionTabClass(3)" ng-click="editFail()"><a href="javascript:void(0);" role="tab" data-toggle="tab">Expired</a></li>
</ul>
<!-- Tabs for child pages -->
<ul class="nav nav-tabs" role="tablist" ng-show="!selectedPage.isRoot">
    <li ng-class="editSectionTabClass(0)" ng-click="editHero()"><a href="javascript:void(0);" role="tab" data-toggle="tab">Pass</a></li>
    <li ng-class="editSectionTabClass(3)" ng-click="editFail()"><a href="javascript:void(0);" role="tab" data-toggle="tab">Fail</a></li>
</ul>
<form role="form">
    <div class="row story-title-section" style="margin-top: 15px;">
        <div class="col-md-5">
            <div class="input-group">
                <input type="text" ng-model="editSection.label" class="form-control" placeholder="title">
            </div>
        </div>
    </div>
    <div class="form-group page-content-section">
        <textarea id="storyInput" rows="8" ng-model="editSection.content" class="form-control" placeholder="page contents"></textarea>
    </div>
    <div class="btn-group prefab-applicator">
        <button type="button" class="btn btn-info" ng-click="createChoice()">Add Choice</button>
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" ng-if="hasOptionPrefabs()">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu" ng-if="hasOptionPrefabs()">
            <li><a tabindex="-1" href="#">Apply Prefab</a></li>
            <li class="divider"></li>
            <li ng-repeat="prefab in optionPrefabs"><a tabindex="-1" href="#" ng-click="applyPrefab(prefab)">{{prefab.name}}<span class="glyphicon glyphicon-minus-sign pull-right" ng-click="removeOptionPrefab()"></span></a></li>
        </ul>
    </div>
</form>
<div class="page-choices-section" ng-show="editSection.choices.length > 0">
    <div class="row">
        <div class="col-md-2 col-sm-2 choice-column-header">
            Stat choice
        </div>
        <div class="col-md-2 col-sm-2 choice-column-header">
            Roll Range
        </div>
        <div class="col-md-4 col-sm-4 choice-column-header">
            Option verbiage
        </div>
        <div class="col-md-2 col-sm-2 choice-column-header">
            Success
        </div>
        <div class="col-md-2 col-sm-2 choice-column-header">
            Fail
        </div>
    </div>
    <div ng-repeat="choice in editSection.choices" class="row">
        <div class="col-md-2 col-sm-2">
            <select selectpicker ng-model="choice.type"
                ng-options="choiceOption.code as choiceOption.name group by choiceOption.category for choiceOption in choiceOptions"
                class="form-control">
                <option value="">-- select category --</option>
            </select>
        </div>
        <div class="col-md-2 col-sm-2">
            <form class="form-inline" role="form">
                <div class="form-group">
                    <input style="max-width: 110px;" type="text" ng-model="choice.rollLow" class="form-control" placeholder="Low">
                </div>
                <div class="form-group">
                    <input style="max-width: 110px;" type="text" ng-model="choice.rollHigh" class="form-control" placeholder="High">
                </div>
            </form>
        </div>
        <div class="col-md-3 col-sm-3">
            <input type="text" ng-model="choice.label" class="form-control" placeholder="Label">
        </div>
        <div class="col-md-2 col-sm-2">
            <select ng-model="choice.success"
                ng-options="page.id as page.title for page in pages"
                ng-change="onSuccessPageChanged(choice)"
                class="form-control">
                <option value="">-- select --</option>
            </select>
        </div>
        <div class="col-md-2 col-sm-2">
            <select ng-model="choice.fail"
                ng-options="page.id as page.title for page in pages"
                class="form-control">
                <option value="">-- select --</option>
            </select>
        </div>
        <div class="col-md-1 col-sm-2">
            <button class="btn btn-danger" ng-click="deleteChoice(choice)" type="button">Delete</button>
        </div>
    </div>
    <button class="btn btn-primary" ng-if="editSection.choices.length > 0" ng-click="createOptionPrefab()">Create Prefab</button>
</div>